/* Barebones Compass layout styles
 *
 * Footer styles
 */

.layout-footer {
    background-color: #424242;
    height: 137px;
    .footer-item{
        [class^="fr-"],
        [class*=" fr-"]{
            display: inline-block;
            border: 1px solid #f7e754;
            padding: 0 5px;
            font-size: 25px;
            margin-right: 10px;
        }
        [class^="fr-"]:before,
        [class*=" fr-"]:before{
            color: #f7e754;
            vertical-align: middle;
        }
        .item-head{
            h3{
                display: inline-block;
                color: #fff;
                text-transform: uppercase;
                font-size: 22px;
                font-weight: 700;
                margin-top: 20px;
                margin-bottom: 10px;
            }
        }
        .item-content{
            p{
                margin-top: 0;
                color: #fff;
                margin-bottom: 0;
                line-height: 1.2;
            }
        }
        &.phone{
            .item-content{
                p{
                    margin: 5px 0;
                }
            }
        }
    }
    .btn{
        margin-top: 40px;
    }
}

$layout-footer-sticky: false !default;

@if ($layout-footer-sticky != false and $layout-footer-height > 0) {
    html,
    body {
        height: 100%;
    }

    .layout-content {
        clear: both;
        min-height: 100%;
        height: auto !important;
        height: 100%;
        margin-bottom: -137px;
    }

    .layout-content:after {
        content: "";
        display: block;
        height: 137px;
    }

    .layout-footer {
        clear: both;
        position: relative;
    }
}
