///* Barebones Compass layout styles
// *
// * Grid styles
// */
//
//$layout-grid-columns:        12 !default;
//$layout-grid-column-width:   60px !default;
//$layout-grid-column-spacing: 20px !default;
//
//// Calculate row magin and column padding
//$layout-grid-row-margin: -($layout-grid-column-spacing / 2);
//$layout-grid-col-padding: $layout-grid-column-spacing / 2;
//
//.row {
//    margin: 0 $layout-grid-row-margin;
//
//    @extend %clearfix;
//
//    .layout-container-fluid > & {
//        margin: 0;
//    }
//
//    %col {
//        min-height: 1px;
//
//        padding: 0 $layout-grid-col-padding;
//
//        float: left;
//
//        position: relative;
//    }
//
//    @for $i from 1 through $layout-grid-columns {
//        > .col-#{$i} {
//            // column padding is included because of border-box
//            width: ($layout-grid-column-width + $layout-grid-column-spacing) * $i;
//
//            @extend %col;
//
//            .layout-container-fluid > & {
//                width: (100% / $layout-grid-columns) * $i;
//            }
//        }
//    }
//}


@media (min-width: 1170px) {

}


@media (min-width: 993px){
  .col-sm-1{
    display: none;
  }
  .col-sm-2{
    display: none;
  }

  .layout-container{
    min-width: 1170px;
  }
}


@media (min-width: 993px) and (max-width: 1280px) {

}


@media (min-width: 750px) and (max-width: 992px) {
  .layout-container{
    min-width: 750px;
    width: 750px;
  }
  .items-wrap-small{
    clear: both;
    &:after{
      content: '';
      display: table;
      height: 1px;
      clear: both;
    }
  }
  .head-section{
    .head-content{
      width: 750px;
    }
  }
  #myCarousel{
    .carousel-control-wrap{
      display: none;
    }
  }
  #CareCarousel{
    .carousel-control{
      &.left{
        right: auto !important;
        left: 0 !important;
        top: 176px !important;
      }
    }
  }
  .who-we{
    .who-we-wrap{
      .img-wrap{
        img{
          max-width: 100%;
        }
      }
      .btn{
        margin-top: 15px;
      }
    }
  }
  .hide-block-cntr{
    padding-top: 10px;
    padding-bottom: 0;
    display: block;
    font-size: 20px;
    a{
      border-radius: 50%;
      border-radius: 50%;
      text-decoration: none;
      border: 1px solid  #0f0f0f;
      width: 30px;
      height: 30px;
      color: #0f0f0f !important;
      display: inline-block;
      text-align: center;
      vertical-align: middle;
    }

    margin-top: -25px;
  }
  .hide-block{
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s ease;
    &.active{
      max-height: 500px;
    }
  }
  .margin-row{
    &:after{
      display: none;
    }
  }
  .card-itself{
    margin-bottom: 100px;
  }
  .care-descr{
    h1, h2 {
      text-align: center;
    }
  }
  .care .care-descr .care-descr-header:after{
    left: 50%;
    transform: translateX(-50%);
  }
  .care .cared-descr-bottom-text{
    padding-top: 0;
    p{
      text-align: center;
    }
  }
  .care .care-descr-text p{
    margin-bottom: 0px;
    text-align: justify;
  }
  .how-it-works .how-card .arrow-cont{
    display: none;
  }
  .how-it-works{
    .items-wrap-small{
      margin-bottom: 100px;
    }
  }
  .every-day{
    display: none;
  }
  .layout-footer{
    height: 262px!important;
    .btn{
      width: 250px;
      margin: 0 auto;
      display: block;
    }
  }
  .header-divider{
    height: 200px!important;
    background-attachment: scroll!important;
    background-size: cover!important;
  }
}


@media (max-width: 749px) {

}


@media (max-width: 644px) {
  .layout-container{
    width: 320px;
  }
  .allow-you{
    .allow-wrap{
      padding-top: 30px;
    }
  }
  .allow-you .allow-block .descr .header-cont {
    line-height: 38px;
    text-align: center;
    min-height: 43px;
    margin-top: 10px;
  }
  .allow-you .allow-block .descr p{
    margin-top: 0;
  }
  .who-we{
    .who-we-wrap{
      .img-wrap{
        img{
          max-width: 100%;
        }
      }
    }
  }
  .header-divider{
    background-attachment: scroll!important;
    background-size: cover!important;
  }
  .how-it-works .how-card .how-num{
    z-index: -1;
  }
  .how-it-works .how-it-works-wrap{
    padding-top: 90px;
  }
  .blog .blog-wrapper{
    padding-top: 50px;
  }
  .layout-footer{
    height: 440px!important;
    padding-top: 20px;
  }
  .layout-content:after {
    content: "";
    display: block;
    height: 50px!important;
  }
  .every-day h2{
    margin-top: 0px;
  }
  .how-it-works .how-card .arrow-cont{
    display: none;
  }
  .how-it-works {
    padding-bottom: 50px;
  }
  .care {
    padding-bottom: 50px;
  }
  .care .header-divider{
    margin-bottom: 50px;
  }
  .programs .cards-row{
    margin-bottom: 0;
  }
  .programs{
    .card-itself{
      margin-bottom: 80px;
    }
  }
  .margin-row{
    margin-bottom: 0;
  }
  .programs .programs-header h2{
    margin-top: 20px;
  }
  .programs .programs-header{
    padding-bottom: 50px;
  }
  .who-we{
    padding-bottom: 50px;
  }
  .who-we .who-we-wrap{
    padding-top: 50px;
  }
  .layout-content{
    padding-top: 50px!important;
  }
}