<div class="layout-footer">
    <div class="layout-container">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-4">
                <div class="footer-item">
                    <div class="item-head"><span class="fr-map"></span><h3>адрес</h3></div>
                    <div class="item-content">
                        <p>lorem ipsum dolor sita amet coniectur dum sumus videsus </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-1 col-md-1">
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4">
                <div class="footer-item phone">
                    <div class="item-head"><span class="fr-phone"></span><h3>телефон</h3></div>
                    <div class="item-content">
                        <p>+78054 544 44 44</p>
                        <p>+78054 544 44 44</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-1 col-md-1">
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4">
                <div class="footer-item">
                    <div class="item-head"><span class="fr-mail"></span><h3>email</h3></div>
                    <div class="item-content">
                        <p>example@gmail.com</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-1 col-md-1">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
                <button class="btn">Заказать программу</button>
            </div>
        </div>
    </div>
</div>
