.btn{
    width: 100%;
    padding: 10px 32px;
    position: relative;
  line-height: 25px;
    background-color: #c3b618;
  border: 2px solid #603913;
  outline: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 15px;
  color: #572c13;
  &:before{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0px;
    width: 36px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 0;
    height: 45px;
    background-image: url("../images/button-part.png");
  }
  &:after{
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 0px;
    transform: rotateZ(-180deg);
    width: 36px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 0;
    height: 45px;
    background-image: url("../images/button-part.png");
  }
}
